.container {
    max-width       : 120rem;
    margin          : 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow      : var(--shadow-dark);
    min-height      : 50rem;

    @media only screen and (max-width:$bp-largest) {
        margin   : 0;
        max-width: 100%;
        width    : 100%;
    }
}

.header {
    height          : 6rem;
    background-color: #fff;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    border-bottom   : var(--line);
    z-index         : 100;

    @media only screen and (max-width:$bp-medium) {
        position: fixed;
        top     : 0;
        left    : 0;
        width: 100%;
    }
}

.content {
    display: flex;

    @media only screen and (max-width:$bp-medium) {
        flex-direction: column;
    }
}


.sidebar {
    background-color: var(--color-grey-dark-1);
    flex            : 0 1 18%;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;

    @media only screen and (max-width:$bp-medium) {
        flex-direction: column;
    }

}

.hotel-view {
    background-color: #fff;
    flex            : 1;
}

.detail {
    display         : flex;
    padding         : 3rem;
    font-size       : 1.4rem;
    color           : var(--color-grey-dark-1);
    font-weight     : 300;
    background-color: var(--color-grey-light-3);

    @media only screen and (max-width:$bp-medium) {
        padding: 2rem;
    }

    @media only screen and (max-width:$bp-small) {
        flex-direction: column;
    }

    @media only screen and (max-width:$bp-very-small) {
        padding: 1rem;
    }
}

.decription {
    flex            : 0 0 60%;
    margin-right    : 2rem;
    padding         : 1.6rem;
    background-color: var(--color-grey-light-1);

    @media only screen and (max-width:$bp-small) {
        margin-right : 0;
        margin-bottom: 2rem;
    }

    @media only screen and (max-width:$bp-very-small) {
        margin-bottom: 1rem;
    }


}

.paragraph {
    margin-bottom: 1.6rem;
    font-size    : 1.4rem;

    &::first-letter {
        font-size: 2rem;
    }
}

.list-services {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    padding        : 2.4rem 0;
    margin         : 2.4rem 0;
    border-top     : var(--line);
    border-bottom  : var(--line);

    &__item {
        list-style   : none;
        flex         : 0 0 50%;
        margin-bottom: .5rem;
        display      : flex;
        align-items  : center;

        &::before {
            content         : "";
            display         : inline-block;
            width           : 1rem;
            height          : 1rem;
            margin-right    : .5rem;
            background-image: url(../img/chevron-thin-right.svg);
            background-size : cover;

            @supports (-webkit-mask-image : url())or(mask-image : url()) {
                background-color  : var(--color-primary);
                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size : cover;
                background-image  : none;
            }
        }
    }
}

.recommend {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    &__count {
        font-size   : 1.2rem;
        margin-right: auto;
        ;
    }

    &__friend {
        display: flex;

        &-photo {
            height       : 4rem;
            border-radius: 50%;
            border       : 3px solid #fff;

            &:not(:first-child) {
                margin-left: -2rem;
            }

        }
    }
}

.user-review {
    flex            : 1;
    background-color: var(--color-grey-light-4);
}

.cta {
    text-transform: uppercase;
    font-weight   : 300;
    color         : var(--color-grey-dark-3);
    text-align    : center;
}